* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url(chef2.jpg);
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-position: center center;
    object-fit: fill;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /* background-color: #fff; */
    /* border-bottom: 1px solid #ddd; */
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-position: center center;
    object-fit: fill;
    height: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.logo span {
    color: #ffffff;
}

nave{
    display: flex;
    padding: 30px 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.8;
}

nav:hover {
    transform: scale(1.1);
    opacity: 1.1;
}
.line{
    background-color: black;
    height: 10px;
}

.bigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    background: rgb(18, 16, 16);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.543);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffffaa;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    color: #ffffffaa;
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}